<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">


<div id="main" role="main">
  <article class="entry">
    {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
    <div class="entry-wrapper" style="width:200%">
      <header class="entry-header">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}</h1>{% endif %}
      </header>
       <table>
        <tr>

        <td style="padding:30 30px 30 30px; vertical-align:top">
      <div class="entry-content">
        
<li><a name="future"><b>Future Events</b></a>
  <ul class="post-list">
  {% for post in site.categories['future'] %}
      {% assign content = post.content | strip_newlines %}
      {% if content != "" %}
           <li><article><a href="{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
      {% endif %}
  {% endfor %}
  </ul>
  </li>
      </div><!-- /.entry-content -->
        </td>
        <td style="padding:30 30px 30 30px; vertical-align:top">
      <div class="entry-content">
<li><a name="future"><b>Past Events</b></a>
  <ul class="post-list">
  {% for post in site.categories['past'] %}
      {% assign content = post.content | strip_newlines %}
      {% if content != "" %}
           <li><article><a href="{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
      {% endif %}
  {% endfor %}
  </ul>
</li>
      </div><!-- /.entry-content -->
        </td>
        </tr>

       </table>

    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
